.sidepanel {
    position: fixed;
    top: 190px;
    left: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 340px;
    z-index: 3;

    &__link {
        &:hover svg path {
            fill: $main-color;
        }
    }

    &__divider {
        width: 2px;
        height: 70px;
        background-color: #000;
    }

    &__text {
        width: 150px;
        height: 25px;
        span {
            transform: rotate(-90deg) translate(-30%, -15%);
            display: block;
            width: 150px;
        }
    }
}
