@import "../../../sass/base/variables";
@import "../../../sass/base/mixins";

.advantages {
    padding-top: 120px;

    &__title {
        text-align: center;
        margin-bottom: 15px;
        padding-bottom: 0;
    }

    &__wrapper {
        padding: 20px 5px 0 5px;
        display: grid;
        grid-template-columns: 700px;
        justify-content: center;
    }

    &__column {
        &-title {
            position: relative;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 100px;
            list-style-type: none;
            padding: 0;
            li {
                position: relative;
            }
        }
    }
    &__item {
        position: relative;

        &-head {
            position: relative;
            padding: 30px 0 0 40px;
            h4 {
                margin-bottom: 0;
            }
        }

        &-body {
            padding-left: 43px;
            margin-top: 12px;
            font-size: 18px;
            line-height: 18px;
        }

        &-icon {
            position: absolute;
            top: 22px;
            left: 43px;
            @include before_circle;
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: -27%;
                left: -40px;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background: $main-color;
            }

            img {
                position: absolute;
                left: 15px;
                top: 5px;
            }
        }
        &-location {
            max-width: 500px;
            font-size: 16px;
            font-weight: bold;
            line-height: 18px;
            margin-top: -9px;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 1200px) {
    .advantages {
        &__wrapper {
            // grid-template-columns: repeat(2, 1fr);
            row-gap: 40px;
        }

        &__column {
            padding-left: 0;
        }
        &__item {
            &-icon {
                top: 21px;
            }
        }
    }
}

@media (max-width: 992px) {
    .advantages {
        padding-top: 90px;

        &__wrapper {
            padding-top: 0;

            grid-template-columns: 1fr;
            row-gap: 10px;
        }

        &__item {
            &-icon {
                top: 24px;
            }
        }
    }
}

@media (max-width: 768px) {
    .advantages {
        padding-top: 90px;

        &__wrapper {
            padding-top: 0;
            grid-template-columns: 1fr;
            row-gap: 0px;
        }

        &__column {
            padding-left: 0;
            ul {
                display: block;
                grid-template-columns: 1fr;
                list-style-type: none;
                padding: 0;
                li {
                    position: relative;
                }
            }
        }

        &__item {
            // margin-bottom: 20px;
            &-icon {
                top: 25px;
            }
        }
    }
}

@media (max-width: 576px) {
    .advantages {
        padding-top: 70px;

        &__wrapper {
            grid-template-columns: 1fr;
        }

        &__column {
            padding-left: 0px;

            ul {
                padding-left: 0;
                li {
                    &:after {
                        content: "";
                        top: 2px;
                    }
                }
            }
        }

        &__item {
            // padding: 0 18px;
            // margin-bottom: 40px;

            &-head {
                padding: 30px 0 0 40px;
            }

            &-icon {
                top: 25px;
                left: 30px;

                &:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    top: -27%;
                    left: -25px;
                    width: 15px;
                    height: 15px;
                    border-radius: 100%;
                    background: $main-color;
                }
            }
        }
    }
}

@media (max-width: 435px) {
}

@media (max-width: 360px) {
}

// @media (max-width: 348px) {
//     .advantages {
//         &__item {
//             padding: 0 16px;
//             margin-bottom: 75px;
//         }
//     }
// }
