@import "../../../sass/base/variables";
@import "../../../sass/base/mixins";

.promo {
    height: 850px;
    position: relative;
    background: url("../../../../public/image/IMG_6713.JPG");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 130px;

    &__title {
        padding-top: 50px;
        width: 700px;
        font-family: "Montserrat", sans-serif;
        font-size: 50px;
        line-height: 50px;
    }

    &__subtitle {
        margin-top: 30px;
        width: 700px;
        font-size: 28px;
    }

    &__info {
        position: absolute;
        top: 390px;
        display: flex;

        &-start {
            position: absolute;
            top: 90px;
            left: 90px;
            display: grid;
            grid-template-columns: 150px 60px;
            column-gap: 30px;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
            font-size: 40px;

            div {
                font-family: "Montserrat", sans-serif;
                line-height: 50px;
            }
        }
    }

    &__contacts {
        display: none;

        width: 130px;
        justify-content: space-between;
        margin-bottom: 40px;

        &-link:hover svg path {
            fill: $primary-color;
        }
    }

    &__btns {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btn {
        width: 200px;
        font-weight: bold;
        font-size: 20px;
        border-radius: 50px;
    }

    &__links {
        font-weight: 670;
        text-decoration: none;

        &-main {
            font-weight: bold;
            font-size: 25px;
            animation: pulse-1 0.5s ease infinite;

            &:hover {
                padding: 13px 26px;
                box-shadow: 0 0 12px $primary-color;
                background: rgb(255, 255, 255) !important;

                transition: all 0.7s ease;
            }
        }

        &:hover {
            color: $primary-color;
            transition: all 0.4s ease;
        }
    }

    &-helper {
        display: none;
        position: absolute;
        top: 70px;
        animation: helper 1s ease infinite;
    }

    @keyframes pulse-1 {
        from {
        }

        to {
            transition: all 0.5s ease;
            box-shadow: 0 0 16px wheat;
        }
    }

    @keyframes helper {
        from {
            left: 0px;
            transition: all 1s ease;
        }

        to {
            left: 20px;
            transition: all 1s ease;
        }
    }

    .priceIcon {
        width: 280px;
        height: 280px;
    }
}

@media (max-width: 1200px) {
    .promo {
        background-size: cover;
        /* или contain */
        background-position: center center;
        background-repeat: no-repeat;

        &__title {
            padding-top: 100px;
            width: 600px;
            font-size: 45px;
            line-height: 50px;
        }

        &__subtitle {
            margin-top: 30px;
            width: 600px;
            font-size: 24px;
        }

        .priceIcon {
            width: 260px;
            height: 260px;
        }

        &__info {
            position: absolute;
            top: 410px;
            display: flex;

            &-start {
                position: absolute;
                top: 89px;
                left: 90px;
                display: grid;
                grid-template-columns: 150px 60px;
                column-gap: 10px;
                justify-content: space-between;
                align-items: center;
                font-weight: bold;
                font-size: 37px;

                div {
                    font-family: "Montserrat", sans-serif;
                    line-height: 42px;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .promo {
        background-size: cover;
        /* или contain */
        background-position: right 30% center;
        background-repeat: no-repeat;

        &__title {
            padding-top: 50px;
            width: 480px;
            font-size: 37px;
            line-height: 50px;
        }

        &__subtitle {
            margin-top: 20px;
            width: 450px;
            font-size: 19px;
        }

        .priceIcon {
            width: 220px;
            height: 220px;
        }

        &__info {
            position: absolute;
            top: 335px;
            display: flex;

            &-start {
                position: absolute;
                top: 79px;
                left: 73px;
                display: grid;
                grid-template-columns: 130px 60px;
                column-gap: 0;
                justify-content: space-between;
                align-items: center;
                font-weight: bold;
                font-size: 30px;

                div {
                    font-family: "Montserrat", sans-serif;
                    line-height: 32px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .promo {
        background-size: cover;
        /* или contain */
        background-position: right 36% center;
        background-repeat: no-repeat;

        &__title {
            padding-top: 30px;
            width: 400px;
            font-size: 32px;
            line-height: 30px;
        }

        &__subtitle {
            margin-top: 9px;
            width: 400px;
            font-size: 17px;
            line-height: 20px;
        }

        .priceIcon {
            width: 180px;
            height: 180px;
        }

        &__info {
            position: absolute;
            top: 250px;
            display: flex;

            &-start {
                position: absolute;
                top: 66px;
                left: 55px;
                display: grid;
                grid-template-columns: 115px 60px;
                justify-content: space-between;
                align-items: center;
                font-weight: bold;
                font-size: 26px;

                div {
                    font-family: "Montserrat", sans-serif;
                    line-height: 25px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .promo {
        margin-top: 10px;
        background-position: right 30% center;

        &__btns {
            position: absolute;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__title {
            position: absolute;
            top: 6%;
            left: 5%;
            width: 360px;
            font-size: 29px;
            line-height: 25px;
            color: black;
        }

        &__subtitle {
            position: absolute;
            top: 18%;
            left: 5%;
            // margin-top: 9px;
            width: 250px;
            font-size: 20px;

            line-height: 20px;
        }

        .priceIcon {
            width: 150px;
            height: 150px;
        }

        &__info {
            position: absolute;
            top: 29%;
            display: flex;

            &-start {
                position: absolute;
                top: 53px;
                left: 48px;
                display: grid;
                grid-template-columns: 92px 60px;
                justify-content: space-between;
                align-items: center;
                font-weight: bold;
                font-size: 22px;

                div {
                    font-family: "Montserrat", sans-serif;
                    line-height: 23px;
                }
            }
        }
    }

    .logoTeam {
        display: none;
    }
}

@media (max-width: 390px) {
    .promo {
        background-size: cover;
        /* или contain */
        background-position: right 31% center;
        background-repeat: no-repeat;

        &__title {
            position: absolute;
            top: 6%;
            left: 5%;
            width: 345px;
            font-size: 28px;
            line-height: 27px;
            color: black;
        }

        &__subtitle {
            position: absolute;
            top: 17%;
            left: 5%;
            width: 260px;
            font-size: 20px;

            line-height: 20px;
        }

        .priceIcon {
            width: 180px;
            height: 180px;
        }

        &__info {
            position: absolute;
            display: flex;
            top: 26.5%;

            &-start {
                position: absolute;
                top: 65px;
                left: 67px;
                display: grid;
                grid-template-columns: 100px 60px;
                justify-content: space-between;
                align-items: center;
                font-weight: bold;
                // font-size: 24px;

                div {
                    font-family: "Montserrat", sans-serif;
                    line-height: 25px;
                }
            }
        }
    }

    .logoTeam {
        display: none;
    }
}

@media (max-width: 365px) {
    .promo {
        background-size: cover;
        /* или contain */
        background-position: right 31.5% center;
        background-repeat: no-repeat;

        &__title {
            position: absolute;
            top: 6%;
            left: 5%;
            width: 300px;
            font-size: 24.5px;
            line-height: 20px;
            color: black;
        }

        &__subtitle {
            position: absolute;
            top: 16%;
            left: 5%;
            width: 250px;
            font-size: 17px;

            line-height: 20px;
        }

        .priceIcon {
            width: 150px;
            height: 150px;
        }

        &__info {
            position: absolute;
            display: flex;
            top: 27%;

            &-start {
                position: absolute;
                top: 55px;
                left: 51px;
                display: grid;
                grid-template-columns: 90px 60px;
                justify-content: space-between;
                align-items: center;
                font-weight: bold;
                font-size: 21px;

                div {
                    font-family: "Montserrat", sans-serif;
                    line-height: 22px;
                }
            }
        }
    }

    .logoTeam {
        display: none;
    }
}

// for apple
@media only screen and (width: 375px) and (height: 812px) and (-webkit-device-pixel-ratio: 2) {
    .promo {
        background-size: cover;
        /* или contain */
        background-position: right 31% center;
        background-repeat: no-repeat;

        &__title {
            position: absolute;
            top: 6%;
            left: 5%;
            width: 345px;
            font-size: 28px;
            line-height: 27px;
            color: black;
        }

        &__subtitle {
            position: absolute;
            top: 17%;
            left: 5%;
            width: 260px;
            font-size: 20px;

            line-height: 20px;
        }

        .priceIcon {
            width: 180px;
            height: 180px;
        }

        &__info {
            position: absolute;
            display: flex;
            top: 26%;

            &-start {
                position: absolute;
                top: 65px;
                left: 67px;
                display: grid;
                grid-template-columns: 100px 60px;
                justify-content: space-between;
                align-items: center;
                font-weight: bold;
                // font-size: 24px;

                div {
                    font-family: "Montserrat", sans-serif;
                    line-height: 25px;
                }
            }
        }
    }
}
