@import "../../../sass/base/variables";
@import "../../../sass/base/mixins";

.hamburger {
    position: fixed;
    top: 20px;
    left: 90px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 11;
    cursor: pointer;
    span {
        display: block;
        width: 30px;
        height: 3px;
        background: #151812;
    }
    // span.long {
    //     width: 36px;
    // }
}

.promo {
    min-height: 100vh;
    position: relative;
    background: url("../../../../public/image/MainBackground-min.jpg") no-repeat
        40% / cover;

    padding-top: 130px;

    &__title {
        width: 535px;
        margin-top: 10px;
        display: none;
    }

    &__subtitle {
        margin-top: 130px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 60px !important;
    }

    &__contacts {
        display: none;

        width: 130px;
        justify-content: space-between;
        margin-bottom: 40px;

        &-link:hover svg path {
            fill: $primary-color;
        }
    }

    &__btns {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__links {
        font-weight: 700;
        text-decoration: none;

        &-main {
            font-weight: bold;
            font-size: 25px;
            animation: pulse-1 0.5s ease infinite;

            &:hover {
                padding: 13px 26px;
                box-shadow: 0 0 12px $primary-color;
                background: rgb(255, 255, 255) !important;

                transition: all 0.7s ease;
            }
        }

        &:hover {
            color: $primary-color;
            transition: all 0.4s ease;
        }
    }

    .btn {
        width: 200px;
        font-weight: bold;
        font-size: 17px;
    }

    &-helper {
        display: none;
        position: absolute;
        top: 70px;
        animation: helper 1s ease infinite;
    }

    @keyframes pulse-1 {
        from {
        }
        to {
            transition: all 0.5s ease;
            box-shadow: 0 0 16px wheat;
        }
    }

    @keyframes helper {
        from {
            left: 0px;
            transition: all 1s ease;
        }
        to {
            left: 20px;
            transition: all 1s ease;
        }
    }
}

@media (max-width: 1200px) {
    .promo {
        background: url("../../../../public/image/MainBackground-min.jpg")
            no-repeat 47% / cover;
        &__title {
            line-height: 50px;
            width: 400px;
            font-size: 36px !important;
        }

        &__subtitle {
            font-size: 50px !important;
        }
    }
    .hamburger {
        left: 10px;
    }
}

@media (max-width: 992px) {
    .promo {
        background: url("../../../../public/image/MainBackground-min.jpg")
            no-repeat 48% / cover;

        &__title {
            line-height: 50px;
            width: 400px;
            font-size: 36px !important;
        }

        &__subtitle {
            font-size: 38px !important;
        }
    }
}

@media (max-width: 768px) {
    .promo {
        &__contacts {
            display: flex;
        }
        &__title {
            line-height: 39px;
            width: 300px;
        }

        &__subtitle {
            font-size: 23px !important;
        }

        background: url("../../../../public/image/MainBackground-min.jpg")
            no-repeat 50% / cover;

        .hamburger {
            right: 10px;
        }

        &-helper {
            display: block;
        }
    }
}

@media (max-width: 576px) {
    .promo {
        background: url("../../../../public/image/MainBackground-min-4a.jpg");
        background-size: cover; /* или contain */
        background-position: left 30% center;
        background-repeat: no-repeat;

        &__btns {
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &__title {
            // padding-left: 10px;
            // width: 100%;
            // background: white;
            display: block;
            position: absolute;
            z-index: 10;
            top: -10px;
            left: 10px;
            font-size: 23px !important;
        }

        &__subtitle {
            height: 130px;
            align-items: center;
            font-size: 29px !important;
        }
    }

    .logoTeam {
        display: none;
    }

    .hamburger {
        right: 20px;
    }
}
