@import "../../../sass/base/variables";
@import "../../../sass/base/mixins";

.courseDescription {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: 400px 670px;
        grid-template-rows: minmax(190px, auto) minmax(100px, auto);
        column-gap: 70px;
        row-gap: 5px;
    }

    &__photo {
        grid-row: 1/3;
        background: url("../../../../public/image/Blue-w.webp") no-repeat 40% /
            cover;
    }

    &__descr {
        .dividerr {
            margin: 0;
        }
    }

    &__title {
        position: relative;
        padding: 7px 0 0 0;
        // @include before_circle;
        // &:before {
        //     top: 0px;
        // }
    }

    &__text {
        margin-top: 20px;
        font-size: 16px;
        font-weight: bold;
        line-height: 25px;
    }

    @keyframes pulse-2 {
        from {
        }
        to {
            box-shadow: 0 0 30px black;
        }
    }
}

@media (max-width: 1200px) {
    .courseDescription {
        &__wrapper {
            grid-template-columns: 400px 520px;
            gap: 40px;
            row-gap: 5px;
        }
    }
}

@media (max-width: 992px) {
    .courseDescription {
        padding-top: 90px;
        &__wrapper {
            grid-template-columns: 400px 280px;
            column-gap: 30px;
        }

        &__title {
            padding-top: 5px;
            &::before {
                top: -2px;
            }
        }
        .title {
            &__fz36 {
                font-size: 28px;
            }
            &__fz14 {
                padding-left: 10px;
            }
        }

        &__photo {
            background: url("../../../../public/image/Blue-w.webp") no-repeat
                30% / cover;
        }
    }
}

@media (max-width: 768px) {
    .courseDescription {
        &__title {
            text-align: center;
            &::before {
                top: -2px;
            }
        }
        &__subtitle {
            text-align: center;
        }

        &__descr {
            .dividerr {
                margin: 0 auto;
            }
        }

        &__wrapper {
            grid-template: 550px auto auto/1fr;
            grid-auto-rows: 100px;

            column-gap: 30px;
        }
    }
}

@media (max-width: 576px) {
    .courseDescription {
        &__wrapper {
            grid-template: 340px auto auto/auto;
        }

        &__photo {
            grid-row: 1/3;
            background: url("../../../../public/image/Blue-w.webp") no-repeat
                center/85%;
        }
    }
}
